# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Binaries
bin/
build/

# Dependency directories
vendor/

# Logs and debug
*.log
*.tmp

# OS/IDE files
.DS_Store
.idea/
.vscode/

# Файлы окружения
.env
.env.*
!.env.example